<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gym Locations</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-min.css" rel="stylesheet">
    <link href="/public/assets/css/style.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="align-center">
        <img id="parse-logo" src="/public/assets/images/parse-logo.png">
      </div>

      <div class="advice">
        <h1>Gym Names</h1>
      </div>



  

      <div id="" class="pure-g step--container step--disabled">
        <!-- <div class="pure-u-1-5  align-center">
          <span class="">Locations</a>
        </div> -->
        <div class="pure-u-4-5">
          <ul>
            <% data.searchResults.forEach(result=>{ %>
              <li> <%= result["gymname"] %></li>
            <% }); %>
        </ul>
         
        </div>
      </div>

      

      <footer id="footer" class="align-center">
        <a href="/addGym">Add Gym</a>
      </footer>

    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/public/assets/js/script.js"></script>
  </body>
</html>
